{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <form method="get" action="/fetch/">
                <div class="form-group">
                    <label>City: <input class="form-control" name="city"></label>
                </div>
                <div class="form-group">
                    <label>Country: <select class="form-control" name="country">
                            {% for countryCode, countryName in constant('App\\WeatherApi\\Domain\\ValueObject\\CountryCode::AVAILABLE_COUNTRY_CODE') %}
                                <option value="{{ countryCode }}">{{ countryName }}</option>
                            {% endfor %}
                        </select></label>
                </div>
            </form>
            <button type="submit" class="btn btn-primary">send</button>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <label>temperature:</label>
                <div style="color:red;" id="temperature"></div>
            </div>
            <div class="row">
                <label>message:</label>
                <div style="color:red;" id="message"></div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        var form = document.querySelector('form');
        var submitButton = document.querySelector('button[type="submit"]');
        var temperatureDiv = document.querySelector('#temperature')
        var messageDiv = document.querySelector('#message')
        submitButton.addEventListener('click', (event) => {
                event.preventDefault();
                temperatureDiv.textContent = '';
                messageDiv.textContent = '';

                let city = form.querySelector('input[name="city"]');
                let country = form.querySelector('select[name="country"]');
                let ajax = new XMLHttpRequest();
                ajax.open(form.method, form.action + city.value + '/' + country.value, true);

                ajax.onreadystatechange = () => {
                    if (ajax.readyState === 4) {
                        let response = JSON.parse(ajax.response);
                        if (ajax.status === 200) {
                            document.querySelector('#temperature').textContent = response.temperature;
                        } else {
                            document.querySelector('#message').textContent = response.message;
                        }
                    }
                }
                ajax.send();
            }
        );
    </script>
{% endblock %}